/* 
    Created on : 11.06.2014, 4:44:20
    Author     : Sync
*/

.footer {  
  margin-top: -30px;
  height: 310px;
  width: 100%;  
  background: url(/img/footer_bg.png) repeat-x;   
  position: relative;
}

.contact-table{  
  width: 60%;  
  top: 180px;
  height: 100px;
  left: 20%; 
  font: 12pt sans-serif ;  
  color: #FFF;
  border-collapse: collapse;
  position: relative;
}

.contact-table tr {
  border-top: 2px solid #FFF;
  padding-left: 0px;
}

.contact-table th {
  border-top: 2px solid #FFF;
  padding-left: 0px;
}

.contact-table tr td a {
  color: #FFF;  
  text-align: center;
}