/* 
    Created on : 11.06.2014, 4:44:20
    Author     : Sync
*/

body {
  background-color: #FFF;
}

.main-body {
  background-color: #FFF; 
  padding-bottom: 20px;
  width: 80%;
  left: 10%;  
  position: relative;
}

.center {
  text-align: center;
}

.page-header {  
  padding-left: 60px;
  text-transform: uppercase;
  font: 14pt sans-serif ;
  color: #0f547c;
}

.main-text {  
  padding-left: 30px;
  padding-right: 30px;
  font: 12pt sans-serif ;
  color: #000;
}

ul.main-text {
  font: 12pt sans-serif ;  
  padding-left: 60px;
  padding-right: 30px;
  color: #000;
}

ol.main-text {
  font: 12pt sans-serif ;  
  padding-left: 60px;
  padding-right: 30px;
  color: #000;
}

#slides {
  display: block;
  overflow: hidden;
  width: 80%;
  left: 10%;
  height: 500px;  
  position: relative;
}