<div id="%%id%%" class="panel panel-default order">          
  <div class="panel-heading">Заказ № <a href="#">%%id%%</a></div>
  <div class="panel-heading">От <b>%%time%%</b> <span style="float: right;"><a href="#" onclick="window.order.delete('%%id%%')">удалить?</a></span></div>
  <div class="panel-body">
    <a href="#" class="list-group-item list-group-item-info">   Заказано            <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
    <a href="#" class="list-group-item list-group-item-danger"> Выставленный счет   <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
    <a href="#" class="list-group-item list-group-item-danger"> Оплата    <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
    <a href="#" class="list-group-item list-group-item-danger"> Готовность<span class="glyphicon glyphicon-circle-arrow-right"></span></a>
    <a href="#" class="list-group-item list-group-item-danger"> Доставка  <span class="glyphicon glyphicon-circle-arrow-right"></span></a>            
  </div>
</div>
