<div class="footer">
  <table class="contact-table">
    <tr>
      <td><b>Контакты</b></td>
      <td>+7 (8412) 763-533</td>
      <td>+7 (8412) 518-302</td>
      <td><a href="http://автотехснаб58.рф">автотехснаб58.рф</a>
      <td>e-mail: <a href="mailto:sales@atc58.ru">sales@atc58.ru</a></td>
    </tr>
    <tr>  
      <td  colspan="5">
      <center>
        <a style="text-decoration: none;color: #FFF" href="http://atc58.ru">© 2014 atc58.ru</a>       
      </center>
      </td>
    </tr>    
  </table>
</div>

<script>    
  $(function(){
    window.slider.init('#slides');
  });
</script>

</body>

</html>
