<!DOCTYPE html>
<html>
  <head>
    <title>ООО "АвтоТехСнаб" - Ваш поставщик запчастей</title>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>    
    <link rel="stylesheet" type="text/css" href="css/main.css" />     
    <link rel="stylesheet" type="text/css" href="css/head.css" />     
    <link rel="stylesheet" type="text/css" href="css/footer.css" />     
    <script charset="UTF-8" src="js/main.js"></script>    
    <script src="js/slider.js"></script>
  </head>
<body>  
  <div class="page-menu"><div class="logo">&nbsp;</div><ul class = "menu">%%menu%%</ul><div class = "i-mag"></div></div>
  <div class="head-divider">&nbsp;</div>