<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">    

    <title>%%title%%</title>    
    <link href="css/bootstrap.min.css" rel="stylesheet">    
    <link href="css/login.css" rel="stylesheet">    
  </head>

  <body>

    <div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Введите имя пользователя и пароль</h2>
        <input type="text" class="form-control" placeholder="User name" required autofocus value="sync">
        <input type="password" class="form-control" placeholder="Password" required value="master">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me" checked> Запомнить меня
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="button">Войти</button>
        <div id = "alert" class="alert alert-warning" role="alert" style="display: none">Alert</div>
      </form>

    </div> <!-- /container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/login.js"></script>    
  </body>
</html>

