<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="width: 100%;">
  <div class="container-fluid">    
    <div class="navbar-header">
      <a class="navbar-brand" href="#">%%title%%</a>   
       <button class="btn navbar-right">
        Выход
      </button>
      <p class="navbar-text navbar-right">Добро пожаловать %%user_name%%</p>         
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">                        
        <li class="active">
            <a href="#">Заказы             </a> </li>
        <li><a href="#">Архив              </a> </li>
        <li><a href="#">Баланс             </a> </li>
        <li><a href="#">Оплата             </a> </li>
        <li><a href="#">Данные покупателя  </a> </li>
        <li><a href="#">Данные пользователя</a> </li>
      </ul>          
    </div>
    <ol id="sub-menu1" class="breadcrumb sub-menu" style="display: block;">
      <li><a href="#">Добавить заказ</a></li>
      <li><a href="#">Проверить активные</a></li>
      <li><a href="#">Оформить готовые</a></li>
    </ol>
    <ol id="sub-menu2" class="breadcrumb sub-menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Library</a></li>
      <li class="active">Data</li>
    </ol>
    <hr>
  </div>
</nav>
