<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="width: 100%;">
  <div class="container-fluid">    
    <div class="navbar-header">
      <a class="navbar-brand" href="#">%%title%%</a>   
       <button class="btn navbar-right">
         <a href="#" onclick = "window.main.exit();"> Выход</a>
      </button>
      <p class="navbar-text navbar-right">Добро пожаловать %%user_name%%</p>         
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">                        
        <li class="active">
          <a href="#" onclick="window.menu.load('order');return false;">Заказы
          </a> 
        </li>
        <li>
          <a href="#" onclick="window.menu.load('arch');return false;">Архив
          </a> 
        </li>
        <li>
          <a href="#" onclick="window.menu.load('money');return false;">Баланс
          </a> 
        </li>
        <li>
          <a href="#" onclick="window.menu.load('pay');return false;">Оплата
          </a> 
        </li>
        <li>
          <a href="#" onclick="window.menu.load('nomen');return false;">Номенклатура
          </a> 
        </li>
        <li>
          <a href="#" onclick="window.menu.load('office');return false;">Данные покупателя
          </a> 
        </li>
        <li>
          <a href="#" onclick="window.menu.load('user');return false;">Данные пользователя
          </a> 
        </li>
      </ul>          
    </div>    
  </div>
</nav>
