<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">    

    <title>%%title%%</title>    
    <link rel="stylesheet" href="css/bootstrap.min.css" >    
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/menu.js"></script>
  </head>
  
  <body>
    %%menu%%
    
    <div id="work-table-panel" class="panel panel-default">
      %%main%%
    </div>
    <div class="shadow-screen">
      <span/>
    </div>
    <div class="preloader">
      <span/>
    </div>
      
  </body>
</html>
