/* 
    Created on : 11.06.2014, 4:44:20
    Author     : Sync
*/

.page-menu {  
  background: linear-gradient(to right,#FFF,#FFF,#efF5ff,#FFF,#FFF,#FFF);
  left: 15%;
  width: 70%;
  background-size: contain;
  height: 50px;    
  position: relative;
}

.menu {        
  top: -11px;  
  height: 50px;
  right: 0px;  
  list-style: none;
  position: absolute;
}

.logo {
  background: url(/img/logo_left.png) no-repeat;    
  left: 0%;  
  background-size: contain;
  height: 50px;    
  position: relative;
}

.menu-item {  
  border-radius: 6px;
  text-align: center; 
  float: right;
  width: 140px;  
  background: url(/img/menu_bg.png);
  background-repeat: repeat-x;   
  border-right: 1px solid #EFF;
  border-left: 1px solid #EFF;
  position: relative;
}

.menu-item:hover {  
  background: url(/img/menu_bg_active.png);   
}

.menu-item a {  
  font: 14pt sans-serif;
  text-decoration: none;
  display: block;
  color: #FFF;
  line-height: 40px;  
  position: relative;
}

.head-divider{
  height: 25px;
  width: 60%;
  left: 20%;
  background-color: #fff;
  position: relative;
}