/* 
    Created on : 11.06.2014, 4:44:20
    Author     : Sync
*/

html {
  height: 83%;
}

body { 
  background-color: #1a82f7;
  background: -webkit-gradient(linear, left top, right top, from(#1a82f7), to(#2F2727));
  background: -webkit-linear-gradient(left, #2F2727, #1a82f7);
  background: -moz-linear-gradient(left, #2F2727, #1a82f7);
  background: -ms-linear-gradient(left, #2F2727, #1a82f7);
  background: -o-linear-gradient(left, #2F2727, #1a82f7); 
  
  font-family: verdana, arial, sans-serif, serif;
  font-size: 10pt;
  height: 100%;
}

.navbar .nav>li>a:hover {
  color: #555;
  background-color: #d7d7d7;
}

.navbar-header{
  width: 100%;
  vertical-align: center;
  height: 50px;
}

.navbar-header>p.navbar-text {
  margin-top: 3px;
  padding-right: 10px;
}

.breadcrumb {
  height: 15px;    
}

.sub-menu {
  display: none;
}

hr {
  height: 1px;
  padding-bottom: 0;
  margin-bottom: 0;
}

#work-table-panel { 
  margin-top: 140px;
  background-color: #1a82f7;
  background: -webkit-gradient(linear, left top, right top, from(#1a82f7), to(#2F2727));
  background: -webkit-linear-gradient(left, #2F2727, #1a82f7);
  background: -moz-linear-gradient(left, #2F2727, #1a82f7);
  background: -ms-linear-gradient(left, #2F2727, #1a82f7);
  background: -o-linear-gradient(left, #2F2727, #1a82f7); 
  height: 100%;
  width: 98%;
  margin-left: 1%;
  z-index: 10;
}

#work-table {  
}

.order {
  max-width: 250px;
  max-height: 300px;
  margin-right: 40px;
  float:left;
}
.order>div.panel-body {
  padding: 0 0 0 0;
  margin:  0 0 0 0;
  text-align: center; 
  min-width: 210px;
}
.order-group {
  
}

.list-group-item>span.glyphicon {
  float: right;
}